@import './base.css';

#app {
  width: 100vw;
  height: 100vh;
  margin: 0;
}

@media (min-width: 1024px) {
  body {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.ant-layout {
  display: flex;
  width: 100%;
  min-height: 100%;
}
